<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="navbar">
    <div>BANK</div>
    <div>
        <a class="aLogin" href="{{ url_for('logout')}}"><input type="submit" class="navlogin"                                                             value="Log out"></a>
    </div>
</div>
<div class="deposit">
    <h1>Deposit</h1>
    <p>Current balance {{ balance }}</p>
    <p> How much would you like to deposit ?</p>
    <form action="{{ url_for('make_deposit')}}" class="deposit_form" method="post" autocomplete="off">
        <input type="number" name="deposit" value=0 required>
        <input type="Submit" class="navlogin" value="Deposit">
    </form>
</div>
</body>
</html>