<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="contentbar">
    <h1>Your Details</h1>
    {% block content %}
    <div class="showdetails">
        <table class="details">
            <tr>
                <td>Customer reference:</td>
                <td>{{ account['customer_ref'] }}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{ account['account_first_name'] }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{ account['account_last_name'] }}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{ account['account_city'] }}</td>
            </tr>
            <tr>
                <td>Adress:</td>
                <td>{{ account['account_holder_address'] }}</td>
            </tr>
            <tr>
                <td>Mobile Number:</td>
                <td>{{ account['account_holder_mobno'] }}</td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>{{ account['account_holder_dob'] }}</td>
            </tr>
        </table>
    </div>
    {% endblock %}
</div>
</body>
</html>