<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="navbar">
    <div class="home"><a href="{{ url_for('options')}}">BANK</a></div>
    <div>
        <a class="aLogin" href="{{ url_for('logout')}}"><input type="submit" class="navlogin" value="Log out"></a>
    </div>
</div>
<div>
    <div class="contentbar">
        <h1>Your Details:</h1>
        {% block content %}
        <div class="showdetails">
            <table class="details">
                <tr>
                    <td>First name:</td>
                    <td>{{ account['account_first_name'] }}</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{ account['account_last_name'] }}</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>{{ account['account_city'] }}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{ account['account_holder_address'] }}</td>
                </tr>
                <tr>
                    <td>Mobile Number:</td>
                    <td>{{ account['account_holder_mobno'] }}</td>
                </tr>
                <tr>
                    <td>Date of birth:</td>
                    <td>{{ account['account_holder_dob'] }}</td>
                </tr>
            </table>
        </div>
        {% endblock %}
        <a class="aLogin" href="{{ url_for('update')}}"><input type="submit" class="navlogin" value="Update details"></a>
    </div>
    </div>
    
</body>
</html>