<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="navbar">
    <img src="">
    <div>
        <a class="logoutbtn" href="{{ url_for('logout')}}"><input type="submit" class="navlogout"
                                                                       value="Log out"></a>
    </div>
</div>
<h1>Banking System</h1>
<div>GBP {{ account_balance }}</div>
<div>{{ currency }} {{ value }}</div>

<form action="{{url_for('currency_exchange')}}" method="post">
    <p>Currency exchange:</p>
    <select name="currency">
        {% for k,v in currencies.items() %}
            <option value="{{ k }}">{{ k }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Calculate">
</form>
<div class="two">
    <h1>Options:</h1>
    <ul>
        <li><a href="{{url_for('details')}}">Profile</a></li>
        <li><a href="{{url_for('transactions')}}">View transactions</a></li>
        <li>Perform Transactions
            <ul>
                <li><a href="{{url_for('withdrawal')}}">withdraw</a></li>
                <li><a href="{{url_for('deposit')}}">deposit</a></li>
            </ul>
        </li>
        <li><a href="{{url_for('update')}}">Update</a></li>
        <li><a href="{{url_for('delete')}}">Delete account</a></li>
    </ul>
</div>
</body>
</html>