<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <img src="">
        <div>
            <a class="loginherebtn" href="{{ url_for('login')}}"><input type="submit" class="navlogin" value="Log in"></a>
        </div>
    </div>
    <div class="resgisterform">
        <form action="{{ url_for('registration')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="account_first_name" placeholder="First Name" class="textbox" required>
            <input type="text" name="account_last_name" placeholder="Last Names" class="textbox" required>
            <input type="text" name="account_holder_address" placeholder="Address" class="textbox" required>
            <input type="text" name="account_city" placeholder="County" class="textbox" required>
            <input type="text" name="account_holder_mobno" placeholder="Mobile Number" class="textbox" required>
            <input type="date" name="account_holder_dob" placeholder="Date of Birth" class="textbox" required>
            <input type="number" name="account_balance" placeholder="What will be your first deposit?" class="textbox" required>
            <input type="text" name="overdraft_amount" placeholder="What your expected overdraft allowance?" class="textbox" required>
            <select name="account_type" required>
              <option value="Savings account">Savings account</option>
              <option value="Current account">Current account</option>
            </select>
            <input type="password" name="password" placeholder="Password" class="textbox" required>
            <input type="submit" class="btnupdate" value="Register">
        </form>
        <p class="loginpar">Already have an account? Log in <a class="loginhere" href="{{ url_for('login')}}">here</a></p>
    </div>
</body>
</html>