<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="navbar">
    <img src="">
    <div>
        <a class="logoutbtn" href="{{ url_for('logout')}}"><input type="submit" class="navlogout"
                                                                       value="Log out"></a>
    </div>
</div>
<div class="transactions">
    <h1>Transactions</h1>
    <div class="litrans">
        <table>
            <tr>
                <th>Income/Outcome</th>
                <th>Date</th>
                <th>Company</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>